/* #nav */


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  background: #fff;
  height: 82px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1800px;
  margin: 0 1rem;
}

button {
  border-radius: 20px;
}

#navbar_logo {
  background-color: #fff5d7;
}

#navbar_logo img {
  height: 80px;
}

.navbar_menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar_item {
  height: 80px;
}

.navbar_links {
  color: #141414;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
  font-size: 1.2rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  background: #FDC830;
  color: #131313;
  border-radius: 20px;
}

.button:hover {
  background: #ff930e;
  transition: all 0.3s ease;
}

.navbar_links:hover {
  color: #f86300;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar_menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
    background: #6B7A8F;
  }

  .navbar_menu.active {
    background: #fff5d7;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
  }

  #navbar_logo {
    padding-left: 25px;
    display: flex;
    justify-content: space-between;
  }

  .navbar_toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #131313;
  }

  .navbar_item {
    width: 100%;
  }

  .navbar_links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  #mobile_menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar_btn {
    padding-bottom: 2rem;
    border-radius: 20px;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  .navbar_toggle .bar{
    display: block;
    cursor: pointer;
  }

  #mobile_menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile_menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile_menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/*#endnav*/
/* #main */

.main {
  background-color: #fceabb;
}

.main_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0 auto;
  justify-self: center;
  height: 90vh;
  background-color: #fceabb;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 20px;
}

.main_content {
  margin: 0 auto;
}

.main_content h1 {
  font-size: 4rem;
  background-color: #fceabb;
  background-image: linear-gradient(
    to top,
    #f83600 0%,
    #ffc500 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main_content h2 {
  font-size: 4rem;
  background-color: #F7C331;
  background-image: linear-gradient(
    to top,
    #e92b05 0%,
    #fd8d98 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main_content h3 {
  font-size: 4rem;
  background-color: #fceabb;
  background-image: linear-gradient(
    to top,
    #fceabb 0%,
    #F7882F 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main_content p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: #131313;
}

.main_btn {
  font-size: 1rem;
  background-color: #fe9d00;
  padding: 14px 32px;
  border: none;
  border-radius: 20px;
  color: #131313;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main_btn a {
  position: relative;
  z-index: 2;
  color: #131313;
  text-decoration: none;
}

.main_btn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #FDC830;
  transition: all 0.35s;
  border-radius: 20px;
}

main_btn:hover {
  color: #131313;
}

.main_btn:hover:after {
  width: 100%;
}

.main_img_container {
  margin: 0 auto;
}
.main_img_container img {
  width: 50vh;
  border-radius: 20px;
}

#home_main_content button {
  margin: 0 0 0 20vh;
  padding: auto;
}

.home_btn_container {
  padding: 5vh;
}

@media screen and (max-width: 850px) {
  .main_container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 100%;
    margin: 0 auto;
    height: 90vh;
  }

  .main_content {
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 40px;
  }

  .main_content h1 {
    font-size: 3rem;
  }

  .main_content h2 {
    font-size: 3rem;
  }

  .main_content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  .services {
    padding-top: 50px;
  }
}

@media screen and (max-width: 480px) {
  .main_content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .main_content h2 {
    font-size: 2rem;
  }

  .main_content p {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  .main_btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
  }
  .main_container {
    margin-top: 20px;
  }
}
/*#endregion*/

/*#firstScreen*/
.newmain {
  background: #fff;
}

.newmain_container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 0 auto;
  justify-self: center;
  height: 100vh;
  z-index: 1;
  width: 100%;
  max-width: 1800px;
  padding: 2.5vw;
  background-image: url(images/real/surfCouple.jpg);
  background-size: cover;
  background-position: center;
  color: #131313;
}

.newmain_content {
  margin-top: 40vh;
  margin-bottom: auto;
  margin-left: 5vw;
  margin-right: auto;
  width: 40vw;
}

.newmain_content h1 {
  font-size: 5rem;
  color: #fff;
}

.newmain_content p {
  font-size: 1.5rem;
  color: #fff;
}

.main2 {
  background: #fff;
}

.main2_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
}

.main2_content {
  width: 100%;
  max-width: 1300px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.triplet_content {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 1vw;
}

.main2_card {
  height: 18vw;
  border-radius: 25px;
  background-position: center;
}

#main2_card1 {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(17, 17, 17, 0.6) 100%
  ),
  url(images/real/branches.jpg);
  background-size: cover;
  position: relative;
  color: #131313;
}

#main2_card2 {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(17, 17, 17, 0.6) 100%
  ),
  url(images/real/branches.jpg);
  background-size: cover;
  position: relative;
  color: #131313;
}

#main2_card3 {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(17, 17, 17, 0.6) 100%
  ),
  url(images/real/branches.jpg);
  background-size: cover;
  position: relative;
  color: #131313;
}

/*#endregion*/

/* #services */
.services {
  background: #fff5d7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* old background #fceabb*/

.services h1 {
  background-color: #fff5d7;
  background-image: linear-gradient(to left,
    #f83600 0%,
    #ffc500 100%);
  background-size: 100%;
  margin-bottom: 5rem;
  font-size: 2.5rem;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.services_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.services_card {
  margin: 2rem;
  height: 55vh;
  width: 22vw;
  border-radius: 4px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(17, 17, 17, 0.6) 100%
  ),
  url(images/iceskating.svg);
  background-size: cover;
  background-position: 45%;
  color: #131313;
}

.services_card:nth-child(2) {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(17, 17, 17, 0.6) 100%
  ),
  url(images/phoneHeart.svg);
  background-position: top;
}

.services h2 {
  position: relative;
  top: 290px;
  left: 30px;
}

.services_card p {
  position: relative;
  top: 300px;
  left: 30px;
}

.services_card button {
  color: #131313;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #fe9d00;
  position: relative;
  top: 310px;
  left: 30px;
  font-size: 1rem;
  cursor: pointer;
}

.services_card:hover {
  transform: scale(1.075);
  transition: 0.2s ease-in;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .services h1 {
    font-size: 2rem;
    margin-top: 12rem;
  }
}

@media screen and (max-width: 480px) {

  .services h1 {
    font-size: 1.2rem;
  }

  .services_card {
    width: 300px;
  }
}
/* #endregion */

/* #footer */

.footer_container {
  background-color: #fff;
  padding: 5rem 0;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer_logo {
  color: #131313;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

#footer_logo p {
  padding: 10px;
}

.footer_links {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.footer_link_wrapper {
  display: flex;
  padding-left: 20px;
}

.footer_link_items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer_link_items h2 {
  margin-bottom: 16px;
}

.footer_link_items > h2 {
  color: #131313;
}

.footer_link_items a {
  color: #131313;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer_link_items a:hover {
  color: #f77062;
  transition: 0.3s ease-out;
}

/* social icons */

.social_icon_link {
  color: #131313;
  font-size: 24px;
}

.social_media {
  max-width: 1000px;
  width: 100%;
}

.social_media_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.social_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.social_logo {
  color: #131313;
  justify-self: flex-start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.website_rights {
  color: #131313;
}

@media screen and (max-width: 600px) {
  .footer_links {
    padding-top: 2rem;
  }

  #footer_logo {
    margin-bottom: 2rem;
  }

  .website_rights {
    margin-bottom: 2rem;
  }

  .social_media_wrap {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .footer_link_items {
    margin: 0;
    padding: 10px;
    width: 100%;
  }

  .footer_link_wrapper {
    flex-direction: column;
  }
}
/*#endregion*/

/* #business */

/*#business_section1*/
#main_business {
  background-color: #fceabb;
}

#main_business_container {
  background-color: #fceabb;
}

.opportunity {
  background: #bfcbdb;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

#main_bus_img {
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  object-fit: cover;
  object-position: 35% 35%;
  height: 80vh;
  top: 0;
  left: 0;
}

.opportunity img {
  height: 80%;
  width: 80%;
}

#business h1 {
  font-size: 4rem;
  background-image: linear-gradient(
  to top,
    #f1a919 0%,
    #F7882F 100%);
  background-size: 100%;
  font-size: 10rem;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

/*#endregion*/

/*#business_opportunity*/
.opportunity {
  background-color: #e6afa0;
}

.opp_content h2 {
  color: #1d1d1d;
  font-size: 8rem;
}

.opp_content p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: #1d1d1d;
  display: block;
  align-items: center;
}

.opp_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
  margin: 20px;
}

#problem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  background-color: transparent;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 50px;
}

.problem_content {
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
}

#friends_and_fam {
  display: grid;
  grid-template-columns: 1fr 1f;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 90vh;
  background: #dff6ff;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

#friends_and_fam img {
  display: flex;
  align-items: center;
}

.ff_text {
display: flex;
flex-direction: column;
align-items: center;
}

#what_if {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#what_if h2 {
  font-size: 3rem;
  position: relative;
  top: auto;
  text-align: center;
  width: 70vw;
  padding-top: 10vh;
}

#LLM_wrap {
  width: 100%;
  max-width: 1300px;
  margin-top: 50px;
}

.LLM_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  margin: 0 auto;
  box-sizing: border-box;
}

.LLM_container p {
  font-size: 2.7vh;
  text-align: left;
}

.LLM1 {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(17, 17, 17, 0.6) 100%
  ),
  url(images/pink/walkingOut.svg);
  background-size: cover;
  position: relative;
  color: #131313;
}

.LLM2 {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(17, 17, 17, 0.6) 100%
  ),
  url(images/pink/texting.svg);
  background-size: cover;
  position: relative;
  color: #131313;
}

.LLM3 {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(17, 17, 17, 0.6) 100%
  ),
  url(images/pink/loveBalloon.svg);
  background-size: cover;
  position: relative;
  color: #131313;
}

#LLM {
  margin: 2rem;
  height: 17vw;
  width: 27vw;
  border-radius: 20px;
  background-position: center;
}

@media screen and (max-width: 850px) {
  #main_business {
    height: 120vh;
  }

  #LLM_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .LLM_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }

  .LLM_container_text p {
    font-size: 4vw;
    text-align: left;
    padding-right: 20px;
  }

  .LLM_container_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  #LLM {
    margin: 25px;
    height: 60VW;
    width: 70vw;
    border-radius: 4px;
  }

  #what_if h2{
    font-size: 3rem;
    position: relative;
    top: auto;
    text-align: center;
    width: 90%;
    padding: 30px;
  }
}

@media screen and (max-width: 450px) {
  #main_business {
    height: 180vh;
  }

  .LLM_container p {
    font-size: 5vw;
  }

  #problem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    background-color: transparent;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 50px;
  }

  #what_if h2 {
    font-size: 10vw;
  }
}

.opp_container {
  background-image: linear-gradient(to top, #FF5F6D, #FFC371);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.opp_container img {
  height: 80%;
  width: 80%;
}
/* #endregion */

/* #product */

/*#product_main*/
#main_app_img {
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  object-fit: cover;
  object-position: 0 0;
  height: 80vh;
  top: 0;
  left: 0;
}

#product_main {
  background-color: #dff6ff;
}

#product_main_container {
  background-color: #dff6ff;
}
/*#endregion*/

/*#product_section1*/
#product2 {
  background-color: #fceabb;
}

.prod_img1 {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(17, 17, 17, 0.6) 100%
  ),
  url(images/real/branches.jpg);
  background-size: cover;
  position: relative;
  color: #131313;
}

.prod_img2 {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(17, 17, 17, 0.6) 100%
  ),
  url(images/real/birdsSunset.jpg);
  background-size: cover;
  position: relative;
  color: #131313;
}

.prod_img3 {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(17, 17, 17, 0.6) 100%
  ),
  url(images/real/flowersInSun.jpg);
  background-size: cover;
  position: relative;
  color: #131313;
}

#prod_section2_text h3 {
  font-size: 1.5rem;
}

#prod_section2_text p {
  font-size: 1.2rem;
  width: 100%;
}

/*#endregion*/

/*#product_section2*/

.scrapbook {
  width: 100%;
  display: grid;
  justify-content: center;
  justify-self: center;
  grid-template-columns: 1fr 1fr;
  background-color: #fceabb;
  width: 100%;
  height: 90vh;
}

.scrapbook_content {
  display: flex;
  height: 50vh;
  margin: 0 auto;
}

.scrapbook_text_container {
  width: 50vw;
  display: flex;
  flex-direction: column;
  margin: 30vh 0 0 0;
}

.scrapbook_text {
  margin: 0 auto;
  width: 35vw;
  height: 50vh;
}

.scrapbook_text h2 {
  text-align: left;
  font-size: 2.5rem;
  padding-bottom: 5vh;
}

.scrapbook_text p {
  text-align: left;
  font-size: 1.5rem;
}

.scrapbook_img_container {
  margin: 0;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: bottom;
}

#img_right img {
  margin: 0 0 0 0;
}

#img_left img {
  margin: 0 0 0 0;
}

.scrapbook_img_container img {
  width: 50vw;
  height: 40vw;
  object-fit: cover;
  object-position: right;
  border-radius: 20px;
}
/*#endregion*/

/*#endregion*/

/* colors

Blueberry #6B7A8F
Apricot: #F7882F
Citrus: #F7C331
Apple Core: #DCC7AA

light yellow background
Ragin Beige: #fff5d7

Coral Pink: #ff5e6c
Sleuthe Yellow: #feb300
Pink Leaf: #ffaaab

current background #fff5d7